<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bichler.astudio.editor.pubsub.PubSubDPEditor"
            default="false"
            icon="icons/event.png"
            id="com.bichler.astudio.editor.pubsub.1.0.0.PubSubDPEditor"
            name="DPEditor">
      </editor>
      <editor
            class="com.bichler.astudio.editor.pubsub.PubSubDriverEditor"
            default="false"
            id="com.bichler.astudio.editor.pubsub.1.0.0.PubSubDriverEditor"
            name="DriverEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.CreateOPCUAModuleHandler"
            commandId="com.bichler.astudio.editor.pubsub.1.0.0.createmodulecommand">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.OpenPubSubDriverModelHandler"
            commandId="com.bichler.astudio.editor.openmodulemodel.pubsub">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.OPCUAPubSubValidationHandler"
            commandId="com.bichler.astudio.editor.pubsub.1.0.0.validate">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.PubSubDpWriterHandler"
            commandId="com.bichler.astudio.drv.export.pubsub">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.PubSubDpReaderHandler"
            commandId="com.bichler.astudio.drv.import.pubsub">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.OPCUAPubSubUpdateNamespaceTableHandler"
            commandId="command.update.opcua.namespacetable.driver.pubsub">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.OPCUAPubSubUpdateNodeIdHandler"
            commandId="command.update.opcua.nodeid.driver.pubsub">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.AddOPCUAPubSubConnectionHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.addpubsubconnection">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.AddOPCUAPubSubPublishedDataSetHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.addpubsubpublisheddataset">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.AddOPCUAPubSubWriterGroupHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.addpubsubwritergroup">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.AddOPCUAPubSubDataSetWriterHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetwriter">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.AddOPCUAPubSubDataSetFieldHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetfield">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.DeletePubSubNodeHandler"
            commandId="com.bichler.astudio.editor.pubsub.100.removeNode">
      </handler>
      <handler
            class="com.bichler.astudio.editor.pubsub.handler.PubSubCompileHandler"
            commandId="com.bichler.astudio.editor.pubsub.1.0.0.compile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.editor.pubsub.1.0.0.createmodulecommand"
            name="Create module">
      </command>
      <command
            id="com.bichler.astudio.editor.openmodulemodel.pubsub"
            name="Open module model">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.1.0.0.validate"
            name="Validate pubsub">
      </command>
      <command
            id="com.bichler.astudio.drv.export.pubsub"
            name="Export pubsub">
      </command>
      <command
            id="com.bichler.astudio.drv.import.pubsub"
            name="Import pubsub">
      </command>
      <command
            id="command.update.opcua.namespacetable.driver.pubsub"
            name="Update OPCUA namespace table">
      </command>
      <command
            id="command.update.opcua.nodeid.driver.pubsub"
            name="Update nodeid">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.addpubsubconnection"
            name="AddPubSubConnection">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.addpubsubpublisheddataset"
            name="AddPubSubPublishedDataSet">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.addpubsubwritergroup"
            name="AddPubSubWriterGroup">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetwriter"
            name="AddPubSubDataSetWriter">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetfield"
            name="AddPubSubDataSetField">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.100.removeNode"
            name="RemovePubSubNode">
      </command>
      <command
            id="com.bichler.astudio.editor.pubsub.1.0.0.compile"
            name="Compile Module">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.bichler.astudio.editor.pubsub.nodes.PubSubEntryModelNode"
            class="com.bichler.astudio.editor.pubsub.adapter.PubSubPropertyAdapter">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.bichler.astudio.editor.pubsub.1.0.0.PubSubDPEditor">
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.addpubsubconnection"
               label="%command.add.PubSubConnection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true">
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubConnection">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubPublishedDataSet">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubWriterGroup">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetWriter">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetField">
                     </instanceof>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.addpubsubpublisheddataset"
               label="%command.add.PubSubPublishedDataSet"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true">
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubConnection">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubPublishedDataSet">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubWriterGroup">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetWriter">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetField">
                     </instanceof>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.addpubsubwritergroup"
               label="%command.add.PubSubWriterGroup"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.bichler.astudio.editor.pubsub.nodes.PubSubConnection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetwriter"
               label="%command.add.PubSubDataSetWriter"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubConnection">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubPublishedDataSet">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetWriter">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetField">
                     </instanceof>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.addpubsubdatasetfield"
               label="%command.add.PubSubDataSetField"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubConnection">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubWriterGroup">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetWriter">
                     </instanceof>
                  </not>
                  <not>
                     <instanceof
                           value="com.bichler.astudio.editor.pubsub.nodes.PubSubDataSetField">
                     </instanceof>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.pubsub.100.removeNode"
               label="%command.remove.PubSubNode"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
