<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.bichler.astudio.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bichler.astudio.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.command.switchworkspace"
            name="Switch Workspace">
      </command>
      <command
            id="com.bichler.astudio.command.toggleviewstool"
            name="Toggle views Tool">
            <state
         class="org.eclipse.ui.handlers.RegistryToggleState:true"
         id="org.eclipse.ui.commands.toggleState">
   </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.handler.SwitchWorkspaceHandler"
            commandId="com.bichler.astudio.command.switchworkspace">
      </handler>
      <handler
            class="com.bichler.astudio.handler.ToggleViewsToolHandler"
            commandId="com.bichler.astudio.command.toggleviewstool">
      </handler>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bichler.astudio.perspective.studio">
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="my.hidden.contributions"
            name="Hidden Contributions">
      </activity>
      <activityPatternBinding
            activityId="my.hidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.Bookmarks">
      </activityPatternBinding>
   </extension>
   <extension
         id="AS"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bichler.astudio.application"
            name="Automation Studio">
         <property
               name="appName"
               value="Automation Studio">
         </property>
         <property
               name="aboutImage"
               value="icons/welcome_finish.png">
         </property>
         <property
               name="aboutText"
               value="Automation Studio v2.0.0_00120180704&#x0A;&#x0A;(c) Copyright Bichler Technologies GmbH 2018. All rights reserved.&#x0A;For further information visit http://www.bichler.tech">
         </property>
         <property
               name="windowImages"
               value="icons/splash_16x16.png,icons/splash_32x32.png,icons/splash_48x48.png,icons/splash_64x64.png,icons/splash_128x128.png,icons/splash_256x256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,20">
         </property>
         <property
               name="introTitle"
               value="Automation Studio Startseite">
         </property>
         <property
               name="introBrandingImage"
               value="icons/header.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/splash_32x32.png"
            id="com.bichler.astudio.intro">
      </intro>
      <introProductBinding
            introId="com.bichler.astudio.intro"
            productId="com.bichler.astudio.AS">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.bichler.astudio.intro"
            content="introContent.xml"
            id="com.bichler.astudio.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.bichler.astudio.ansicht"
               label="%menu.view">
            <command
                  commandId="com.bichler.astudio.command.toggleviewstool"
                  label="%menu.viewstool"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="com.bichler.astudio.core.user.isUserRights"
                        value="1">
                  </test>
               </visibleWhen>
            </command>
            <menu
                  id="com.bichler.astudio.views"
                  label="%menu.views">
            </menu>
         </menu>
         <menu
                  id="com.bichler.astudio.help"
                  label="%menu.help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%menu.about"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.epp.mpc.ui.command.showMarketplaceWizard"
                  icon="icons/marketplace16.png"
                  label="%command.open.marketplace"
                  style="push"
                  tooltip="%command.open.marketplace.tooltip">
            </command>
         </menu>
      </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:org.eclipse.ui.main.toolbar">
                <toolbar
               id="com.bichler.astudio.main.toolbar">
         </toolbar>
                <toolbar
                      id="com.bichler.astudio.main.toolbar.statemachine">
                </toolbar>
         
         <toolbar
               id="com.bichler.astudio.main.toolbar.simulation">
         </toolbar>
          <toolbar
               id="com.bichler.astudio.main.toolbar.views">
         </toolbar>
          <toolbar
               id="com.bichler.astudio.main.toolbar.help1">
         </toolbar>
           <toolbar
                id="com.bichler.astudio.main.toolbar.help2">
          </toolbar>
          <toolbar
               id="com.bichler.astudio.main.toolbar.about">
         </toolbar>
         </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.bichler.astudio.application"
            name="AutomationStudio">
         <property
               name="windowImages"
               value="icons/splash_16x16.png,icons/splash_32x32.png,icons/splash_48x48.png,icons/splash_64x64.png,icons/splash_128x128.png,icons/splash_256x256.png">
         </property>
         <property
               name="aboutText"
               value="Automation Studio v2.0.1_00520200908&#x0A;&#x0A;(c) Copyright Bichler Technologies GmbH 2018. All rights reserved.&#x0A;For further information visit http://www.bichler.tech">
         </property>
         <property
               name="aboutImage"
               value="/com.bichler.automationstudio.product/icons/welcome_finish.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,20">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="AutomationStudio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
