# id for automation studio to open the correct editor to edit driver connection
drivereditorid_general
AllenBradleyDriverEditor

# id for automation studio to open the correct editor to edit the datapoints
drivereditorid_dp
AllenBradleyDPEditor

# id for automation studio to open the correct editor to edit the datapoints
drivereditorid_advanced
AllenBradleyAdvancedDriverConfigEditor