<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bichler.astudio.opcua.perspective.OPCServerPerspective"
            id="com.bichler.astudio.opcua.perspective"
            name="OPC UA Server Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bichler.astudio.opcua.perspective">
         <view
               id="com.bichler.astudio.properties.view"
               minimized="false"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.bichler.astudio.opcua.navigation.views.OPCNavigationView"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.hbsoft.designer.views.modeldesignbrowser.modelbrowserview"
               minimized="false"
               moveable="true"
               ratio="0.65f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.device.core.view.devices"
               minimized="false"
               ratio="0.3f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="com.hbsoft.comet.opcmodeler.namespaceview"
               minimized="false"
               ratio="0.3f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.properties.view.infos"
               minimized="false"
               ratio="0.7f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.properties.view.docu"
               minimized="false"
               ratio="0.7f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               visible="true">
         </view>
         <view
               id="com.hbsoft.comet.log4j.view"
               minimized="false"
               ratio="0.3f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.view.drivermodel.browser"
               minimized="false"
               ratio="0.7f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               showTitle="true"
               visible="true">
         </view>
         <!--
          <view
               id="com.bichler.astudio.device.opcua.view"
               minimized="false"
               ratio="0.3f"
               relationship="stack"
               relative="com.bichler.astudio.view.drivermodel.browser"
               showTitle="true"
               visible="true">
         </view>
         -->
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.birt.report.designer.ui.ReportPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:com.bichler.astudio.main.toolbar.testcenter.command">
        <command
              commandId="com.bichler.astudio.device.opcua.simulation.openEditor"
              icon="icons/32x32/simulation_zahnrad32x32.png"
              label="%menu.simulation"
              style="push">
        </command>
        <command
              commandId="com.bichler.astudio.device.opcua.simulation.openLocalEditor"
              icon="icons/32x32/simulation_zahnrad32x32.png"
              label="%menu.server"
              style="push">
        </command>
        <command
              commandId="com.bichler.astudio.device.opcua.simulation.clienttest"
              icon="icons/32x32/simulation_zahnrad32x32.png"
              label="%menu.client"
              style="push">
        </command>
     </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar">
            <command
                  commandId="com.bichler.astudio.opcserver.open"
                  icon="icons/32x32/open.png"
                  label="%menu.open"
                  style="push"
                  tooltip="%menu.tooltip.open">
               <!--
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
               -->
                <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                      <with
                        variable="activeWorkbenchWindow.activePerspective">
	                     <equals
	                           value="com.bichler.astudio.opcua.perspective">
	                     </equals>
	                  </with>
                      <test
                            property="com.bichler.astudio.core.user.isUserRights"
                            value="1">
                      </test> 
                  	</and>
                  </iterate>
               </visibleWhen>
            </command>
            
            <command
                  commandId="com.bichler.astudio.opcserver.open2"
                  icon="icons/32x32/open.png"
                  label="%menu.open2"
                  style="push"
                  tooltip="%menu.tooltip.open2">
               <!-- <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen> -->
                <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                      <with
                        variable="activeWorkbenchWindow.activePerspective">
	                     <equals
	                           value="com.bichler.astudio.opcua.perspective">
	                     </equals>
	                  </with>
                      <test
                            property="com.bichler.astudio.core.user.isUserRights"
                            value="1">
                      </test> 
                  	</and>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  disabledIcon="icons/32x32/save_editgrau32x32.png"
                  icon="icons/32x32/saveedit_farbe32x32.png"
                  label="%menu.save"
                  style="push"
                  tooltip="%menu.tooltip.save">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  disabledIcon="icons/32x32/saveeditgrau_dreifach32x32.png"
                  icon="icons/32x32/saveeditfarbe_dreifach32x32.png"
                  label="%menu.saveall"
                  style="push"
                  tooltip="%menu.tooltip.saveall">s
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.opcua.editnamespaces"
                  icon="icons/32x32/Directory-object-class32x32.png"
                  label="%menu.namespace"
                  style="push"
                  tooltip="%menu.tooltip.namespace">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.device.opcua.sendopcuaservertotarget"
                  disabledIcon="icons/32x32/ballupload_disable.png"
                  icon="icons/32x32/upload32x32.png"
                  label="%menu.opcuaupload"
                  style="push"
                  tooltip="%menu.tooltip.opcuaupload">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="com.bichler.astudio.opcua.perspective.separator1"
                  visible="true">
            </separator>
         </toolbar>
         <toolbar
               id="com.bichler.astudio.main.toolbar.about">
            <command
                  commandId="com.bichler.astudio.opcua.openPreferences"
                  icon="icons/32x32/konfigeration_farbe32x32.png"
                  label="%menu.settings"
                  style="push"
                  tooltip="%menu.tooltip.settings">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.opcserver.back"
                  icon="icons/32x32/red_redo_links.png"
                  label="%menu.back"
                  style="push"
                  tooltip="%menu.tooltip.back">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar id="com.bichler.astudio.main.toolbar.simulation">
           <command
                 commandId="com.bichler.astudio.main.testcenter.command"
                 icon="icons/32x32/simulation_zahnrad32x32.png"
                 id="com.bichler.astudio.main.toolbar.testcenter.command"
                 label="Testcenter"
                 style="pulldown"
                 tooltip="TestCenter Plugin">
              <visibleWhen
                    checkEnabled="false">
                <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>               
                 		<with
                       		variable="activeWorkbenchWindow.activePerspective">
                    	<equals
                          value="com.bichler.astudio.opcua.perspective">
                    	</equals>
                 		</with>
                 		 <test
                            property="com.bichler.astudio.core.user.isUserRights"
                            value="1">
                      </test> 
                     </and>
                    </iterate>
              </visibleWhen>
           </command>
        </toolbar>
     </menuContribution>
     <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.bichler.astudio.ansicht"
               label="%menu.view">
            <menu
                  id="com.bichler.astudio.views"
                  label="%menu.views">
              <command
                    commandId="com.bichler.astudio.opcserver.showconsole"
                    icon="icons/16x16/console_view.png"
                    label="%view.console"
                    style="toggle">
            </command>
            </menu>
         </menu>
      </menuContribution>
      <!-- <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar.views">
            <command
                  commandId="com.bichler.astudio.opcserver.showconsole"
                  icon="icons/32x32/console.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution> -->
   </extension>
</plugin>
