<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.commands.openopcuaservercontrol"
            name="Open OPCUA Server Control">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaserverconfiguration"
            name="Open OPCUA Server Configuration">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaservercertificate"
            name="Open OPCUA Server Certificate">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaservershellscript"
            name="Open OPCUA Server Shell Script">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaserverecmascript"
            name="Open OPCUA Server Ecma Script">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaserver"
            name="Add OPCUA Server">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaserverdriver"
            name="Add OPCUA Server Driver">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaservermodule"
            name="Add OPCUA Server Module">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaserverinformationmodel"
            name="Add OPCUA Server Information Model">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaservercertificate"
            name="Add OPCUA Server Certificate">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaservershellscript"
            name="Add OPCUA Server Shell Script">
      </command>
      <command
            id="com.bichler.astudio.commands.addopcuaserverecmascript"
            name="Add OPCUA Server Ecma Script">
      </command>
      <command
            id="com.bichler.astudio.commands.deleteopcuaserver"
            name="Delete OPC UA Server">
      </command>
      <command
            id="com.bichler.astudio.commands.deleteopcuaserverinformationmodel"
            name="Delete OPC UA Server Information Model">
      </command>
      <command
            id="com.bichler.astudio.commands.deleteopcuaservercertificate"
            name="Delete OPC UA Server Certificate">
      </command>
      <command
            id="com.bichler.astudio.commands.deleteopcuaservershellscript"
            name="Delete OPC UA Server Shell Script">
      </command>
      <command
            id="com.bichler.astudio.commands.deleteopcuaserverecmascript"
            name="Delete OPC UA Server Ecma Script">
      </command>
      <command
            id="com.bichler.astudio.opcua.command.archiveopcuaproject"
            name="Archive OPC UA Projekt">
      </command>
      <command
            id="com.bichler.astudio.opcua.command.dearchiveopcuaproject"
            name="DeArchive OPC UA Projekt">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuadriverconfig"
            name="Open OPC UA Driver Config">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuamoduleconfig"
            name="Open OPC UA Driver Config">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuadpconfig"
            name="Open OPC UA DP Config">
      </command>
      <command
            id="com.bichler.astudio.commands.module.openopcuadpconfig"
            name="Open OPC UA Module DP Config">
      </command>
       <command
            id="com.bichler.astudio.commands. module.openopcuadpconfig"
            name="Open OPC UA DP Config">
      </command>
      
      <command
            id="com.bichler.astudio.commands.deleteopcuaserverdriver"
            name="Delete OPC UA Server Driver">
      </command>
      <command
            id="com.bichler.astudio.commands.upgradeopcuaserverdriver"
            name="Upgrade OPC UA Server Driver">
      </command>
      <command
            id="com.bichler.astudio.commands.OpenOPCUAServerProject"
            name="Open OPCUA Server Project">
      </command>
      <command
            id="com.bichler.astudio.opcserver.back"
            name="Back">
      </command>
      <command
            id="com.bichler.astudio.opcserver.new"
            name="New">
      </command>
      <command
            id="com.bichler.astudio.opcserver.save"
            name="Save">
      </command>
      <command
            id="com.bichler.astudio.opcserver.saveas"
            name="SaveAs">
      </command>
      <command
            id="com.bichler.astudio.opcserver.open"
            name="Open">
      </command>
      <command
            id="com.bichler.astudio.opcua.openPreferences"
            name="Open OPCUA Preferences">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaadvanceddriverconfig"
            name="Open OPCUA advanced driver configuration">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuasecurityconfig"
            name="Open OPC UA security configuration">
      </command>
      <command
            id="com.bichler.astudio.opcua.editnamespaces"
            name="Edit Namespace Table">
      </command>
      <command
            id="com.bichler.astudio.commands.addnamespaceindex"
            name="Add Namespace">
      </command>
      <command
            id="com.bichler.astudio.commands.deletenamespaceindex"
            name="Delete Namespace">
      </command>
      <command
            id="com.bichler.astudio.opcua.addressspace.compile"
            name="Compile AddressSpaceModel">
      </command>
      <command
            id="com.bichler.astudio.opcua.addressspace.importclasses"
            name="Import AddressSpace Classes">
      </command>
      <command
            id="com.bichler.astudio.commands.openopcuaserverusers"
            name="Open OPCUA User Management">
      </command>
       <command
            id="com.bichler.astudio.opcua.simulation.openEditor"
            name="OpenSimulationEditor">
      </command>
       <command
             id="com.bichler.astudio.commands.openopcuaserverlog"
             name="Open OPC UA Server Log">
       </command>
       <command
             id="command.update.opcua.namespacetable"
             name="Update OPC UA Namespacetable">
       </command>
       <command
             id="command.update.opcua.namespacetable.driver.user"
             name="Update UserAccess DataBase">
       </command>
       <command
             id="com.bichler.astudio.opcua.validate"
             name="Validate OPCUA">
       </command>
       <command
             id="com.bichler.astudio.opcua.rename"
             name="Rename">
       </command>
       <command
             id="com.bichler.astudio.opcua.validate.useraccess"
             name="Validate UserAccess">
       </command>
       <command
             id="com.bichler.astudio.opcua.update.nodeid"
             name="Update Nodeid">
       </command>
       <command
             id="command.update.opcua.nodeid.driver.user"
             name="Update user access nodeid">
       </command>
       <command
             id="command.dispose.opcua.editor.driver.view"
             name="Dispose OPCUA editors">
       </command>
       <command
             id="com.bichler.astudio.commands.openopcuaservercertificates"
             name="Open OPC UA Server Certificates">
       </command>
       <command
             id="com.bichler.astudio.commands.certificate.renew"
             name="Renew Certificate">
       </command>
       <command
             id="com.bichler.astudio.commands.certificate.import"
             name="Import Certificate">
       </command>
       <command
             id="com.bichler.astudio.commands.certificate.delete"
             name="Delete Certifiate">
       </command>
       <command
             id="com.bichler.astudio.commands.openopcuacertificate"
             name="Open certificate editor">
       </command>
       <command
             id="com.bichler.astudio.opcserver.open2"
             name="Open Nodeset2">
       </command>
       <command
             id="com.bichler.astudio.commands.openopcuaserverhistory"
             name="Open OPCUA Server History">
       </command>
       <command
             id="com.bichler.astudio.commands.openopcuareport"
             name="Open OPCUA Report">
       </command>
       <command
             id="com.bichler.astudio.commands.addopcuaserverreport"
             name="Add OPCUA Server Report">
       </command>
       <command
             id="com.bichler.astudio.commands.openopcuaserverversion"
             name="Open OPCUA Server Version">
       </command>
       <command
             id="com.bichler.astudio.commands.addopcuaserverversion"
             name="Add Version">
       </command>
       <command
             id="com.bichler.astudio.commands.deleteopcuaserverversion"
             name="Delete Version">
       </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerControlHandler"
            commandId="com.bichler.astudio.commands.openopcuaservercontrol">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerConfigurationHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverconfiguration">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerCertificateHandler"
            commandId="com.bichler.astudio.commands.addopcuaservercertificate">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerShellScriptHandler"
            commandId="com.bichler.astudio.commands.addopcuaservershellscript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.addopcuaserverecmascript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerInformationModelHandler"
            commandId="com.bichler.astudio.commands.addopcuaserverinformationmodel">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerDriverHandler"
            commandId="com.bichler.astudio.commands.addopcuaserverdriver">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerModuleHandler"
            commandId="com.bichler.astudio.commands.addopcuaservermodule">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaserver">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerInformationModelHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaserverinformationmodel">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerCertificateHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaservercertificate">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerShellScriptHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaservershellscript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaserverecmascript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUADriverConfigHandler"
            commandId="com.bichler.astudio.commands.openopcuadriverconfig">
      </handler>
       <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAModuleConfigHandler"
            commandId="com.bichler.astudio.commands.openopcuamoduleconfig">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUADPConfigHandler"
            commandId="com.bichler.astudio.commands.openopcuadpconfig">
      </handler>
       <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUADPModuleConfigHandler"
            commandId="com.bichler.astudio.commands.module.openopcuadpconfig">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerCertificateHandler"
            commandId="com.bichler.astudio.commands.openopcuaservercertificate">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerShellScriptHandler"
            commandId="com.bichler.astudio.commands.openopcuaservershellscript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverecmascript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerHandler"
            commandId="com.bichler.astudio.commands.addopcuaserver">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.RenameOPCUAEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.renameopcuaserverecmascript">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.MoveUpOPCUAEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.moveopcuaserverecmascriptup">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.MoveDownOPCUAEcmaScriptHandler"
            commandId="com.bichler.astudio.commands.moveopcuaserverecmascriptdown">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.ArchiveOPCUAConfigHandler"
            commandId="com.bichler.astudio.opcua.command.archiveopcuaproject">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeArchiveOPCUAConfigHandler"
            commandId="com.bichler.astudio.opcua.command.dearchiveopcuaproject">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerDriverHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaserverdriver">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.UpgradeOPCUAServerDriverHandler"
            commandId="com.bichler.astudio.commands.upgradeopcuaserverdriver">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUAProjectOpenHandler"
            commandId="com.bichler.astudio.commands.OpenOPCUAServerProject">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUAProjectBackHandler"
            commandId="com.bichler.astudio.opcserver.back">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUANewModelHandler"
            commandId="com.bichler.astudio.opcserver.new">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUASaveModelHandler"
            commandId="com.bichler.astudio.opcserver.save">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUASaveAsModelHandler"
            commandId="com.bichler.astudio.opcserver.saveas">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OpenOPCUAPreferenceHandler"
            commandId="com.bichler.astudio.opcua.openPreferences">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAAdvancedServerConfigurationHandler"
            commandId="com.bichler.astudio.commands.openopcuaadvanceddriverconfig">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUASecurityConfigurationHandler"
            commandId="com.bichler.astudio.commands.openopcuasecurityconfig">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.EditNamespaceTableHandler"
            commandId="com.bichler.astudio.opcua.editnamespaces">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.AddOPCUANamespaceIndexHandler"
            commandId="com.bichler.astudio.commands.addnamespaceindex">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.DeleteOPCUANamespaceIndexHandler"
            commandId="com.bichler.astudio.commands.deletenamespaceindex">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUACompileAddressSpaceHandler"
            commandId="com.bichler.astudio.opcua.addressspace.compile">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUAImportAddressspaceClassesHandler"
            commandId="com.bichler.astudio.opcua.addressspace.importclasses">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerUsersHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverusers">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerLogHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverlog">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.resource.OPCUAUpdateNamespaceTableHandler"
            commandId="command.update.opcua.namespacetable">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.nosql.userauthority.handler.UpdateNamespaceTableUserAccessHandler"
            commandId="command.update.opcua.namespacetable.driver.user">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.nosql.userauthority.handler.ValidiateUserAccessHandler"
            commandId="com.bichler.astudio.opcua.validate.useraccess">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.resource.OPCUAValidationHandler"
            commandId="com.bichler.astudio.opcua.validate">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.RenameHandler"
            commandId="com.bichler.astudio.opcua.rename">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.resource.OPCUAUpdateNodeIdHandler"
            commandId="com.bichler.astudio.opcua.update.nodeid">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.nosql.userauthority.handler.UpdateNodeIdUserAccessHandler"
            commandId="command.update.opcua.nodeid.driver.user">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.resource.DisposeOPCUAEditorsHandler"
            commandId="command.dispose.opcua.editor.driver.view">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerCertificateHandler"
            commandId="com.bichler.astudio.commands.openopcuaservercertificates">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.security.RenewCertificateHandler"
            commandId="com.bichler.astudio.commands.certificate.renew">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.security.ImportSecurityCertificateHandler"
            commandId="com.bichler.astudio.commands.certificate.import">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.security.DeleteOPCCertificateHandler"
            commandId="com.bichler.astudio.commands.certificate.delete">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.security.OpenCertificateEditorHandler"
            commandId="com.bichler.astudio.commands.openopcuacertificate">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUAOpenModelHandler"
            commandId="com.bichler.astudio.opcserver.open">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.opcua.OPCUAOpenModelHandler2"
            commandId="com.bichler.astudio.opcserver.open2">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerHistoryHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverhistory">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAReportHandler"
            commandId="com.bichler.astudio.commands.openopcuareport">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerReportHandler"
            commandId="com.bichler.astudio.commands.addopcuaserverreport">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.OpenOPCUAServerVersionHandler"
            commandId="com.bichler.astudio.commands.openopcuaserverversion">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.DeleteOPCUAServerVersionHandler"
            commandId="com.bichler.astudio.commands.deleteopcuaserverversion">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.AddOPCUAServerVersionHandler"
            commandId="com.bichler.astudio.commands.addopcuaserverversion">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.handlers.RefreshMenuHandler"
            commandId="com.bichler.astudio.opcua.refreshMenu">
      </handler>
   </extension>
   <extension
         point="com.bichler.astudio.extensionpoint.navigation">
      <navigation_item
            class="com.bichler.astudio.opcua.nodes.OPCUARootModelNode">
      </navigation_item>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.bichler.astudio"
            class="com.bichler.astudio.opcua.preferences.OPCUA_Path_Selection"
            id="com.bichler.astudio.opcua"
            name="OPCUA Einstellungen">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAServerConfigurationEditor"
            default="false"
            icon="icons/svg_site/img_16/config.png"
            id="com.bichler.astudio.editors.opcuaserverconfigeditor"
            name="%editor.configuration">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.security.OPCUASecurityConfigEditor"
            default="false"
            icon="icons/img_16/schlüssel16x16.png"
            id="com.bichler.astudio.opcua.editor.opcuasecuirty"
            name="%editor.security">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAServerUsersEditor"
            icon="icons/img_16/user.png"
            id="com.bichler.astudio.opcua.editor.OPCUAServerUsersEditor"
            name="%editor.user">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAServerLoggingEditor"
            default="false"
            icon="icons/img_16/log.png"
            id="com.bichler.astudio.opcua.editor.OPCUAServerLoggingEditor"
            name="%editor.logging">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.security.OPCUAServerCertificatesEditor"
            default="false"
            icon="icons/img_16/schlüssel16x16.png"
            id="com.bichler.astudio.opcua.editor.opcuaservercerts"
            name="%editor.servercertificate">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.security.OPCUACertificateEditor"
            id="com.bichler.astudio.opcua.editor.security.OPCUACertificateEditor"
            name="%editor.certificate">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAEcmaScriptEditor"
            default="false"
            extensions=".es"
            icon="icons/img_24/scripts.png"
            id="com.bichler.astudio.editors.opcuaecmascripteditor"
            name="Automation Studio Script Editor">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAServerHistoryEditor"
            default="false"
            extensions="txt"
            icon="icons/img_16/version.png"
            id="com.bichler.astudio.editors.opcuaserverhistoryeditor"
            name="%editor.history">
      </editor>
      <editor
            class="com.bichler.astudio.opcua.editor.OPCUAServerVersionEditor"
            default="false"
            extensions="txt"
            icon="icons/img_16/version.png"
            id="com.bichler.astudio.editors.opcuaserverversioneditor"
            name="%editor.version">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.bichler.astudio.navigation.views.navigationview">
         <command
               commandId="com.bichler.astudio.commands.OpenOPCUAServerProject"
               icon="icons/img_16/checked_0.png"
               label="%command.open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUAServerNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.opcua.command.archiveopcuaproject"
               icon="icons/img_16/zip.png"
               label="%command.archive"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUAServerNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserver"
               icon="icons/img_16/add.png"
               label="%command.add.server"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUARootModelNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverinformationmodel"
               icon="icons/img_16/add.png"
               label="%command.add.informationmodel"
               style="push"
               tooltip="%command.add.infomodel">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerInfoModelsNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerInfoModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaservershellscript"
               icon="icons/img_16/add.png"
               label="%command.add.shell"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerShellScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerPreShellScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerPostShellScriptsModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverecmascript"
               icon="icons/img_16/add.png"
               label="%command.add.ecma"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerEcmaScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerEcmaSingleScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerEcmaIntervalScriptsModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerEcmaScriptModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverreport"
               icon="icons/img_16/add.png"
               label="%command.add.report"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAReportModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaserver"
               icon="icons/svg_site/img_16/delete.png"
               label="%command.delete.server"
               style="push"
               tooltip="%command.delete.server2">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUAServerNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaserverdriver"
               icon="icons/svg_site/img_16/delete.png"
               label="%command.delete.server3"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerDriversModelNode">
                     </instanceof>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerDriverModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.opcua.refreshMenu"
               icon="icons/img_16/refresh_icon.gif"
               label="%command.refresh.menu"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUARootModelNode">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="com.bichler.astudio.opcua.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.bichler.astudio.opcua.openPreferences"
               icon="icons/img_16/settings.png"
               label="%command.settings"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUARootModelNode">
               </reference>
            </visibleWhen>
         </command>
         
         <!-- <command
               commandId="com.bichler.astudio.commands.sendopcuaservertotarget"
               icon="icons/img_16/zip.png"
               label="%command.target"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavigationOPCUAServerNode">
               </reference>
            </visibleWhen>
         </command> -->
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAServerNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAServerNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaservernode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUARootServerNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUARootModelNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuarootmodelnode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUADriverNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUADriverNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuadrivernode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAServerConfigNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAServerConfigNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaserverconfignode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAEcmaScriptsNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAEcmaScriptsNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaecmascriptsnode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAShellScriptNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAShellScriptNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuashellscriptnode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAServerDriverNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAServerDriverNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaserverdrivernode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUANamespaceIndexPropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAInformationModelNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuainformationmodel"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAInformationModelNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAInformationModel"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuanamespaceindex"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAServerRenameNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAServerRenameNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaserverrenamenode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUACertificateStoreNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUACertificateStoreNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuacertificatestorenode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAKeyPairNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAKeyPairNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuakeypairnode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUACertificateNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUACertificateNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuacertificatenode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAEcmaScriptNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAEcmaScriptNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaecmascriptnode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAServerDriverNode2UpgradePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAServerDriverNode2Upgrade"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuaserverdrivernode2upgrade"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.opcua.handlers.tester.IsNavigationOPCUAModuleNodePropertyTester"
            id="com.bichler.astudio.opcua.IsOPCUAModuleNode"
            namespace="com.bichler.astudio.opcua"
            properties="isopcuamodulenode"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="IsNavigationOPCUAServerNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaservernode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsNavigationOPCUARootModelNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuarootmodelnode">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.bichler.astudio.navigation.nodes.StudioModelNode"
            class="com.bichler.astudio.opcua.adapter.OPCPropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bichler.astudio.opcua.widget.model.AbstractConfigNode"
            class="com.bichler.astudio.opcua.adapter.OPCAdvancedConfigPropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.bichler.astudio.opcua.widget.NodeToTrigger"
            class="com.bichler.astudio.opcua.adapter.TriggerNodePropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
