<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<NodeSet xmlns="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <NamespaceUris>
    <String>http://opcfoundation.org/UA/</String>
    <String>http://opcfoundation.org/UA/DI/</String>
  </NamespaceUris>
  <ServerUris/>
  <Nodes>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=3</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>DeviceType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>DeviceType</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=1</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=10</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=9</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=11</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=12</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=4</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=6</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=7</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=8</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>true</IsAbstract>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=4</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>SerialNumber</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>SerialNumber</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=1</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>TopologyElementType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>TopologyElementType</Text>
      </DisplayName>
      <Description>
        <Locale>en</Locale>
        <Text>TopologyElementType</Text>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>i=58</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>true</IsAbstract>
    </Node>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=2</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>BlockType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>BlockType</Text>
      </DisplayName>
      <Description>
        <Locale>en</Locale>
        <Text>BlockType</Text>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=1</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>true</IsAbstract>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=7</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>Manufacturer</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>Manufacturer</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=8</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>Model</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>Model</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=6</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>RevisionCounter</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>RevisionCounter</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=12</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>HardwareRevision</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>HardwareRevision</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=11</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>SoftwareRevision</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>SoftwareRevision</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=10</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>DeviceRevision</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>DeviceRevision</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=9</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>DeviceManual</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>DeviceManual</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=3</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=16</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>Single</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>Single</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=80</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=15</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>Interval</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>Interval</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=80</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="VariableNode">
      <NodeId>
        <Identifier>ns=1;i=14</Identifier>
      </NodeId>
      <NodeClass>Variable_2</NodeClass>
      <BrowseName>
        <NamespaceIndex>3</NamespaceIndex>
        <Name>Priority</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>Priority</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=46</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=68</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=13</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <DataType>
        <Identifier>i=24</Identifier>
      </DataType>
      <ValueRank>0</ValueRank>
      <ArrayDimensions/>
      <Value>
        <Value>
          <Null/>
        </Value>
      </Value>
      <AccessLevel>0</AccessLevel>
      <UserAccessLevel>0</UserAccessLevel>
      <MinimumSamplingInterval>1000.0</MinimumSamplingInterval>
      <Historizing>false</Historizing>
    </Node>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=13</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>CtrlTaskType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>CtrlTaskType</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>i=58</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=14</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=15</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=16</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>false</IsAbstract>
    </Node>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=20</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>FunctionalGroupType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>FunctionalGroupType</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>i=61</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>false</IsAbstract>
    </Node>
    <Node i:type="ObjectNode">
      <NodeId>
        <Identifier>ns=1;i=18</Identifier>
      </NodeId>
      <NodeClass>Object_1</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>SupportedTypes</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>SupportedTypes</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=47</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=17</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=40</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=61</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=17</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=37</Identifier>
          </ReferenceTypeId>
          <IsInverse>false</IsInverse>
          <TargetId>
            <Identifier>i=78</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <EventNotifier>0</EventNotifier>
    </Node>
    <Node i:type="ObjectTypeNode">
      <NodeId>
        <Identifier>ns=1;i=17</Identifier>
      </NodeId>
      <NodeClass>ObjectType_8</NodeClass>
      <BrowseName>
        <NamespaceIndex>0</NamespaceIndex>
        <Name>ConfigurableObjectType</Name>
      </BrowseName>
      <DisplayName>
        <Locale>en</Locale>
        <Text>ConfigurableObjectType</Text>
      </DisplayName>
      <Description>
        <Locale i:nil="true"/>
        <Text/>
      </Description>
      <WriteMask>0</WriteMask>
      <UserWriteMask>0</UserWriteMask>
      <References>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=45</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>i=58</Identifier>
          </TargetId>
        </ReferenceNode>
        <ReferenceNode>
          <ReferenceTypeId>
            <Identifier>i=50</Identifier>
          </ReferenceTypeId>
          <IsInverse>true</IsInverse>
          <TargetId>
            <Identifier>ns=1;i=18</Identifier>
          </TargetId>
        </ReferenceNode>
      </References>
      <IsAbstract>false</IsAbstract>
    </Node>
  </Nodes>
</NodeSet>
