<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bichler.astudio.editor.statemachine.100.category."
            id="com.bichler.astudio.editor.statemachine.100.transform"
            name="TransformStateModel">
      </command>
      <command
            categoryId="com.bichler.astudio.editor.statemachine.100.category."
            id="com.bichler.astudio.editor.statemachine.100.revereseEngineer"
            name="UMLReverseEngineering">
      </command>
      <command
            categoryId="com.bichler.astudio.editor.statemachine.100.category."
            id="com.bichler.astudio.editor.statemachine.100.revereseEngineerNamespace"
            name="UMLReverseEngineeringNamespace">
      </command>
      <category
            id="com.bichler.astudio.editor.statemachine.100.category."
            name="Statemachine">
      </category>
      <command
            id="com.bichler.astudio.main.toolbar.statemachine.dropdown.command"
            name="Statemachine Dropdown">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.opcua.statemachine.handler.TransformStatemachineHandler"
            commandId="com.bichler.astudio.editor.statemachine.100.transform">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.statemachine.handler.UMLReverseEngineeringHandler"
            commandId="com.bichler.astudio.editor.statemachine.100.revereseEngineer">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.statemachine.handler.UMLReverseEngineeringNamespaceHandler"
            commandId="com.bichler.astudio.editor.statemachine.100.revereseEngineerNamespace">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.statemachine.handler.DropDownHandler"
            commandId="com.bichler.astudio.main.toolbar.statemachine.dropdown.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar.statemachine">
            <command
                  commandId="com.bichler.astudio.main.toolbar.statemachine.dropdown.command"
                  icon="icons/32/statemachine.png"
                  id="com.bichler.astudio.main.toolbar.statemachine"
                  label="Statemachine"
                  style="pulldown"
                  tooltip="Statemachine">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <with
                              variable="activeWorkbenchWindow.activePerspective">
                           <equals
                                 value="com.bichler.astudio.opcua.perspective">
                           </equals>
                        </with>
                        <test
                              property="com.bichler.astudio.core.user.isUserRights"
                              value="1">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.bichler.astudio.main.toolbar.statemachine">
         <command
               commandId="com.bichler.astudio.editor.statemachine.100.transform"
               icon="icons/32/statemachine_transform.png"
               label="UML Statemachine transformation"
               style="push"
               tooltip="Generates an OPC UA model from ">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="com.bichler.astudio.opcua.perspective">
                        </equals>
                     </with>
                     <test
                           property="com.bichler.astudio.core.user.isUserRights"
                           value="1">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.statemachine.100.revereseEngineerNamespace"
               icon="icons/32/statemachine_UML.png"
               label="UML Reverse engineering"
               style="push"
               tooltip="Generates an UML diagram from OPC UA types">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="com.bichler.astudio.opcua.perspective">
                        </equals>
                     </with>
                     <test
                           property="com.bichler.astudio.core.user.isUserRights"
                           value="1">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.editor.statemachine.100.revereseEngineer"
               icon="icons/32/statemachine.png"
               label="Base UML reverse engineering"
               style="push"
               tooltip="Generates an UML diagram with OPC UA base types (namespace index=0) ">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="com.bichler.astudio.opcua.perspective">
                        </equals>
                     </with>
                     <test
                           property="com.bichler.astudio.core.user.isUserRights"
                           value="2">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
