<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.bichler.astudio.device.core.view.OPCUADeviceView"
            icon="icons/wizard/devices_16.png"
            id="com.bichler.astudio.device.core.view.devices"
            name="%com.bichler.astudio.device.opcua.view.device.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.device.core.box.openControl"
            name="OpenUABoxControlDialog">
      </command>
      <command
            id="com.bichler.astudio.device.core.add"
            name="Add target Device">
      </command>
      <command
            id="com.bichler.astudio.device.core.edit"
            name="Edit target Device">
      </command>
      <command
            id="com.bichler.astudio.device.core.remove"
            name="Remove target Device">
      </command>
      <command
            id="com.bichler.astudio.device.core.scan"
            name="Scan target Device">
      </command>
      <command
            id="com.bichler.astudio.device.core.show"
            name="Show host devices">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.device.core.handler.OpenUABoxControlHandler"
            commandId="com.bichler.astudio.device.core.box.openControl">
         <enabledWhen>
            <reference
                  definitionId="IsDatahubSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.core.handler.AddDeviceHandler"
            commandId="com.bichler.astudio.device.core.add">
      </handler>
      <handler
            class="com.bichler.astudio.device.core.handler.EditDeviceHandler"
            commandId="com.bichler.astudio.device.core.edit">
      </handler>
      <handler
            class="com.bichler.astudio.device.core.handler.RemoveDeviceHandler"
            commandId="com.bichler.astudio.device.core.remove">
         <enabledWhen>
            <reference
                  definitionId="IsDevSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.core.handler.ScanNewDeviceHandler"
            commandId="com.bichler.astudio.device.core.scan">
      </handler>
      <handler
            class="com.bichler.astudio.device.core.handler.ShowDeviceViewHandler"
            commandId="com.bichler.astudio.device.core.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.bichler.astudio.device.core.view.devices">
         <menu
               label="%com.bichler.astudio.device.opcua.menu.install">
            <command
                  commandId="com.bichler.astudio.device.opcua.install"
                  icon="icons/wizard/driver_16.png"
                  label="%com.bichler.astudio.device.opcua.menu.installopcua"
                  style="push">
            </command>
            <!--
            <command
                  commandId="com.bichler.astudio.device.installfirmware"
                  icon="icons/wizard/driver_16.png"
                  label="%com.bichler.astudio.device.opcua.menu.installfirmware"
                  style="push">
            </command> -->
            <command
                  commandId="com.bichler.astudio.device.installmodule"
                  icon="icons/wizard/driver_16.png"
                  label="%com.bichler.astudio.device.opcua.menu.installmodule"
                  style="push">
            </command>
            <command
                  commandId="com.bichler.astudio.device.installwakeonlan"
                  icon="icons/wizard/driver_16.png"
                  label="%com.bichler.astudio.device.opcua.menu.installwakeonlan"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="com.bichler.astudio.core.user.isUserRights"
                        value="1">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.device.installwebsite"
                  icon="icons/wizard/driver_16.png"
                  label="%com.bichler.astudio.device.opcua.menu.installwebsite"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="com.bichler.astudio.core.user.isUserRights"
                        value="1">
                  </test>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="com.bichler.astudio.device.opcua.separator.base"
               visible="true">
         </separator>
         <command
               commandId="com.bichler.astudio.device.core.add"
               icon="icons/wizard/add_16.png"
               label="%com.bichler.astudio.device.opcua.menu.new"
               style="push">
         </command>
         <command
               commandId="com.bichler.astudio.device.core.scan"
               icon="icons/img_16/search_16.png"
               label="%com.bichler.astudio.device.opcua.menu.scan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.device.core.edit"
               icon="icons/wizard/edit_16.png"
               label="%com.bichler.astudio.device.opcua.menu.edit"
               style="push">
         </command>
         <command
               commandId="com.bichler.astudio.device.core.remove"
               icon="icons/wizard/delete_16.png"
               label="%com.bichler.astudio.device.opcua.menu.remove"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bichler.astudio.device.core.view.devices">
         <command
               commandId="com.bichler.astudio.device.core.add"
               icon="icons/wizard/add_16.png"
               label="%com.bichler.astudio.device.opcua.menu.new"
               style="push"
               tooltip="%com.bichler.astudio.device.opcua.menu.tooltip.new">
         </command>
         <command
               commandId="com.bichler.astudio.device.core.scan"
               icon="icons/img_16/search_16.png"
               label="%com.bichler.astudio.device.opcua.menu.scan"
               style="push"
               tooltip="%com.bichler.astudio.device.opcua.menu.tooltip.scan">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.device.core.edit"
               icon="icons/wizard/edit_16.png"
               label="%com.bichler.astudio.device.opcua.menu.edit"
               style="push"
               tooltip="%com.bichler.astudio.device.opcua.menu.tooltip.edit">
         </command>
         <command
               commandId="com.bichler.astudio.device.core.remove"
               icon="icons/wizard/delete_16.png"
               label="%com.bichler.astudio.device.opcua.menu.remove"
               style="push"
               tooltip="%com.bichler.astudio.device.opcua.menu.remove">
         </command>
         <command
               commandId="com.bichler.astudio.device.core.box.openControl"
               icon="icons/wizard/controlpanel32x32.png"
               label="%com.bichler.astudio.device.opcua.menu.status"
               style="push"
               tooltip="%com.bichler.astudio.device.opcua.menu.tooltip.status">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <!-- <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar.views">
            <command
                  commandId="com.bichler.astudio.device.core.show"
                  icon="icons/wizard/devices_32.png"
                  label="%menu.showhostdevices"
                  style="toggle"
                  tooltip="%menu.showhostdevices">
            </command>
         </toolbar>
      </menuContribution> -->
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.bichler.astudio.ansicht"
               label="%menu.view">
            <menu
                  id="com.bichler.astudio.views"
                  label="Views">
               <command
                     commandId="com.bichler.astudio.device.core.show"
                     icon="icons/wizard/devices_16.png"
                     label="%com.bichler.astudio.device.opcua.view.device.name"
                     style="toggle">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.bichler.astudio.device.core.ConsoleFactory"
            icon="icons/img_16/splash_16x16.png"
            label="Automation Studio Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="IsDevSelected">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.core.isDevicePref">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsDatahubSelected">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.core.isDatahubPref">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bichler.astudio.device.core.tester.DeviceSelectionPropertyTester"
            id="com.bichler.astudio.device.core.selected"
            namespace="com.bichler.astudio.device.core"
            properties="isDevicePref"
            type="org.osgi.service.prefs.Preferences">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.device.core.tester.DataHubDeviceSelectionPropertyTester"
            id="com.bichler.astudio.device.core.datahub.selected"
            namespace="com.bichler.astudio.device.core"
            properties="isDatahubPref"
            type="org.osgi.service.prefs.Preferences">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.osgi.service.prefs.Preferences"
            class="com.bichler.astudio.device.core.DevicePropertiesAdapter">
         <adapter
               type="com.bichler.astudio.device.adapter">
         </adapter>
      </factory>
   </extension>

</plugin>
