<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.bichler.astudio.extensionpoint.navigation" name="Navigations" schema="schema/com.bichler.astudio.navigation.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.navigation.commands.refreshchildren"
            name="Refresh Children">
      </command>
      <command
            id="com.bichler.astudio.components.preferences.general"
            name="Open Studio Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.navigation.handler.RefreshChildrenHandler"
            commandId="com.bichler.astudio.navigation.commands.refreshchildren">
      </handler>
      <handler
            class="com.bichler.astudio.navigation.handler.OpenGeneralPreferenceHandler"
            commandId="com.bichler.astudio.components.preferences.general">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.bichler.astudio.navigation.category"
            class="com.bichler.astudio.navigation.views.NavigationView"
            icon="icons/pe.png"
            id="com.bichler.astudio.navigation.views.navigationview"
            name="%view.navigation"
            restorable="true">
      </view>
      <category
            id="com.bichler.astudio.navigation.category"
            name="Navigation">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.bichler.astudio.navigation.views.navigationview">
         <command
               commandId="com.bichler.astudio.components.preferences.general"
               icon="icons/img_16/settings.png"
               label="Einstellungen22"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsNavRoot">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bichler.astudio.navigation.views.tester.TestNavigatorRootNode"
            id="com.bichler.astudio.components.isNavRoot"
            namespace="com.bichler.astudio.components"
            properties="isNavRoot"
            type="com.bichler.astudio.navigation.nodes.StudioModelNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="IsNavRoot">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.components.isNavRoot">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
</plugin>
