# id for comet studio to open the correct editor to edit driver connection
drivereditorid_general
SiemensDriverEditor

# id for comet studio to open the correct editor to edit the datapoints
drivereditorid_dp
SiemensDPEditor

# id for comet studio to open the correct editor to edit the datapoints
drivereditorid_advanced
SiemensAdvancedDriverConfigEditor