<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.device.opcua.install"
            name="Install target Device">
      </command>
      <command
            id="com.bichler.astudio.device.opcua.sendopcuaservertotarget"
            name="Send OPC UA Server to Target">
      </command>
      <command
            id="com.bichler.astudio.device.opcua.sendtotarget"
            name="General Send To Target">
      </command>
      <command
            id="com.bichler.astudio.device.opcua.compile"
            name="Compile Model">
      </command>
      <command
            id="com.bichler.astudio.device.opcua.build"
            name="Build OPC UA Project">
      </command>
      <!--
      <command
            id="com.bichler.astudio.device.opcua.box.openControl"
            name="OpenUABoxControlDialog">
      </command>
      -->
      <command
            categoryId="com.bichler.astudio.device.opcua.testcentercategory"
            id="com.bichler.astudio.device.opcua.simulation.openSimulation"
            name="Simulation">
      </command>
      <command
            categoryId="com.bichler.astudio.device.opcua.testcentercategory"
            id="com.bichler.astudio.device.opcua.simulation.openLocalEditor"
            name="OpenLocalSimulationEditor">
      </command>
      <command
            categoryId="com.bichler.astudio.device.opcua.testcentercategory"
            id="com.bichler.astudio.device.opcua.simulation.clienttest"
            name="OpenClientTestEditor">
      </command>
      <category
            id="com.bichler.astudio.device.opcua.testcentercategory"
            name="TestCenter">
      </category>
      <command
            categoryId="com.bichler.astudio.device.opcua.testcentercategory"
            defaultHandler="com.bichler.astudio.device.opcua.handler.DefaultTestcenterHandler"
            id="com.bichler.astudio.main.testcenter.command"
            name="Testcenter">
      </command>
      <command
            id="com.bichler.astudio.opcserver.showconsole"
            name="%show.asconsole">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.bichler.astudio.device.opcua.install.toolchain"
            name="Install Toolchain">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.device.opcua.handler.upload.SendOPCUAServerToTargetHandler"
            commandId="com.bichler.astudio.device.opcua.sendopcuaservertotarget">
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.CompileHandler"
            commandId="com.bichler.astudio.device.opcua.compile">
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.project.BuildOPCProjectHandler"
            commandId="com.bichler.astudio.device.opcua.build">
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.OpenSimulationEditorHandler"
            commandId="com.bichler.astudio.device.opcua.simulation.openSimulation">
         <activeWhen>
            <with
                  variable="activeContexts">
               <test
                     args="true"
                     forcePluginActivation="true"
                     property="com.bichler.astudio.device.opcua.isServerSimulationAllowed"
                     value="false">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.OpenLocalSimulationEditorHandler"
            commandId="com.bichler.astudio.device.opcua.simulation.openLocalEditor">
         <activeWhen>
            <with
                  variable="activeContexts">
               <test
                     args="true"
                     forcePluginActivation="true"
                     property="com.bichler.astudio.device.opcua.isScriptSimulationAllowed"
                     value="false">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.OpenTestClientEditorHandler"
            commandId="com.bichler.astudio.device.opcua.simulation.clienttest">
         <activeWhen>
            <with
                  variable="activeContexts">
               <test
                     args="true"
                     forcePluginActivation="true"
                     property="com.bichler.astudio.device.opcua.isServerSimulationAllowed"
                     value="false">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.ShowConsoleHandler"
            commandId="com.bichler.astudio.opcserver.showconsole">
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.target.InstallDeviceHandler"
            commandId="com.bichler.astudio.device.opcua.install">
         <enabledWhen>
            <reference
                  definitionId="IsDevSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.bichler.astudio.device.opcua.handler.InstallToolchainHandler"
            commandId="com.bichler.astudio.device.opcua.install.toolchain">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bichler.astudio.device.opcua.tester.ServerSimulationPropertyTester"
            id="com.bichler.astudio.device.opcua.serversimulationtester"
            namespace="com.bichler.astudio.device.opcua"
            properties="isServerSimulationAllowed"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.device.opcua.tester.ScriptSimulationPropertyTester"
            id="com.bichler.astudio.device.opcua.scriptsimulationtester"
            namespace="com.bichler.astudio.device.opcua"
            properties="isScriptSimulationAllowed"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.bichler.astudio.device.opcua.tester.TestCenterPropertyTester"
            id="com.bichler.astudio.device.opcua.testcentertester"
            namespace="com.bichler.astudio.device.opcua"
            properties="isTestCenterAllowed"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="IsOPCUADevSelected">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.opcua.isOPCUADevicePref">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsDatahubSelected">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.opcua.isDatahubPref">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerSimulationAllowed">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.opcua.isServerSimulationAllowed">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsScriptSimulationAllowed">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.opcua.isScriptSimulationAllowed">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsTestCenterAllowed">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="org.osgi.service.prefs.Preferences">
               <test
                     property="com.bichler.astudio.device.opcua.isTestCenterAllowed">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.bichler.astudio.device.opcua.ConsoleFactory"
            icon="icons/img_16/splash_16x16.png"
            label="Automation Studio Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bichler.astudio.device.opcua.editor.SimulationEditor"
            default="false"
            icon="icons/img_16/simulation.png"
            id="com.bichler.astudio.device.opcua.editor.simulation.SimulationEditor"
            name="%com.bichler.astudio.device.opcua.editor.simulation.title">
      </editor>
      <editor
            class="com.bichler.astudio.device.opcua.editor.LocalSimulationEditor"
            default="false"
            icon="icons/img_16/simulation.png"
            id="com.bichler.astudio.device.opcua.editor.simulation.LocalSimulationEditor"
            name="%com.bichler.astudio.device.opcua.editor.servertest.title">
      </editor>
      <editor
            class="com.bichler.astudio.device.opcua.editor.ClientTestEditor"
            default="false"
            icon="icons/img_16/simulation.png"
            id="com.bichler.astudio.device.opcua.editor.simulation.ClientTestEditorPart"
            name="%com.bichler.astudio.device.opcua.editor.clienttest.title">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.bichler.astudio.help"
               label="%menu.help">
            <command
                  commandId="com.bichler.astudio.device.opcua.install.toolchain"
                  label="Install Toolchain"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
