<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.ui.activities">
     <activity id="appPackage.rcp.activity" name="Hidden activities"/>
       <activityPatternBinding
             activityId="appPackage.rcp.activity"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="appPackage.rcp.activity"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.navigate.next">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="appPackage.rcp.activity"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.navigate.previous">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="appPackage.rcp.activity"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.edit.text.gotoLastEditPosition">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="appPackage.rcp.activity"
             isEqualityPattern="true"
             pattern="org.eclipse.search.searchActionSet">
       </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bichler.astudio.perspective.studio.ASPerspective"
            id="com.bichler.astudio.perspective.studio"
            name="Automation Studio">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar">
         <command
               commandId="org.eclipse.ui.help.quickStartAction"
               icon="icons/toolbar/welcome32x32.png"
               label="%com.bichler.astudio.menu.welcome.label"
               style="push"
               tooltip="%com.bichler.astudio.menu.welcome.tooltip">
             <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                     <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
                      <test
                            property="com.bichler.astudio.core.user.isUserRights"
                            value="1">
                      </test> 
                  	</and>
                  </iterate>
               </visibleWhen>
         </command>
            <command
                  commandId="com.bichler.astudio.command.switchworkspace"
                  icon="icons/toolbar/ordner_refresh32x32.png"
                  label="%com.bichler.astudio.menu.switchworkspace.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.switchworkspace.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.command.applicationlanguage"
                  icon="icons/toolbar/sprachwechsel32x32.png"
                  label="%com.bichler.astudio.menu.switchlanguage.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.switchlanguage.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.command.openlicensemanager"
                  icon="icons/toolbar/lizenz32x32.png"
                  label="%com.bichler.astudio.menu.license.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.license.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                     <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
                      <test
                            property="com.bichler.astudio.core.user.isUserRights"
                            value="1">
                      </test> 
                  	</and>
                  </iterate>
               </visibleWhen>
            </command>
         <!--
         <command
               commandId="com.bichler.astudio.update.install"
               icon="icons/toolbar/install.png"
               label="%com.bichler.astudio.menu.install.label"
               style="push"
               tooltip="%com.bichler.astudio.menu.install.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.bichler.astudio.perspective.studio">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         -->
         </toolbar>
         <toolbar
               id="com.bichler.astudio.main.toolbar.about">
            <command
                  commandId="com.bichler.astudio.components.preferences.general"
                  icon="icons/toolbar/konfigeration_farbe32x32.png"
                  label="%com.bichler.astudio.menu.setting.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.setting.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/toolbar/about_32.png"
                  label="%com.bichler.astudio.menu.about.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.about.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/toolbar/Plusrot32x32.png"
                  label="%com.bichler.astudio.menu.exit.label"
                  style="push"
                  tooltip="%com.bichler.astudio.menu.exit.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.perspective.studio">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bichler.astudio.perspective.studio">
         <view
               id="com.bichler.astudio.properties.view"
               minimized="false"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.bichler.astudio.navigation.views.navigationview"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.help.mainhelpview"
               minimized="false"
               ratio="0.75f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <!--
       	<view
               id="com.bichler.astudio.device.opcua.view"
               minimized="false"
               ratio="0.3f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         -->
         <view
               id="com.bichler.astudio.device.core.view.devices"
               minimized="false"
               ratio="1f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="com.bichler.astudio.log4j.view"
               minimized="false"
               ratio="1f"
               relationship="stack"
               relative="com.bichler.astudio.properties.view"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.perspective.studio.handler.ExitStudioHandler"
            commandId="com.bichler.astudio.command.exit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.command.openlicensemanager"
            name="Open License Manager">
      </command>
      <command
            id="com.bichler.astudio.command.applicationlanguage"
            name="Change application language">
      </command>
      <command
            id="com.bichler.astudio.command.exit"
            name="Exit">
      </command>
      <command
            id="com.bichler.astudio.command.rename"
            name="Rename">
      </command>
   </extension>

</plugin>
