<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.bichler.astudio.opcua.properties.view.ASPropertyView"
            icon="icons/properties_16.png"
            id="com.bichler.astudio.properties.view"
            name="%view.property"
            restorable="true">
      </view>
      <view
            class="com.bichler.astudio.opcua.properties.view.ASInfoView"
            icon="icons/properties_16.png"
            id="com.bichler.astudio.properties.view.infos"
            name="%view.infos"
            restorable="true">
      </view>
      <view
            class="com.bichler.astudio.opcua.properties.view.ASDocuView"
            icon="icons/properties_16.png"
            id="com.bichler.astudio.properties.view.docu"
            name="%view.Docu"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.bichler.astudio.main.toolbar.help1">
            <command
                  commandId="com.bichler.astudio.opcserver.showinfos"
                  icon="icons/properties_32.png"
                  label="%menu.infos"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bichler.astudio.opcserver.showdocu"
                  icon="icons/properties_32.png"
                  label="%menu.docu"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.bichler.astudio.opcua.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bichler.astudio.properties.view.docu">
         <command
               commandId="com.bichler.astudio.opcserver.exportdocu"
               icon="icons/save_16.png"
               label="%export"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bichler.astudio.properties.view.infos">
         <command
               commandId="com.bichler.astudio.opcua.openImageEditor"
               icon="icons/properties_16.png"
               label="%manageImages"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bichler.astudio.properties.editor.images">
         <command
               commandId="com.bichler.astudio.opcua.addImage"
               icon="icons/add.png"
               label="%addImage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.opcua.deleteImage"
               icon="icons/delete.png"
               label="%deleteImage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.bichler.astudio.core.user.isUserRights"
                     value="1">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bichler.astudio.opcua.properties.handler.ShowPropertiesViewHandler"
            commandId="com.bichler.astudio.opcserver.showproperties">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.ShowInfosViewHandler"
            commandId="com.bichler.astudio.opcserver.showinfos">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.ShowDocuViewHandler"
            commandId="com.bichler.astudio.opcserver.showdocu">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.ExportDocuElementHandler"
            commandId="com.bichler.astudio.opcserver.exportdocu">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.OpenImageEditorHandler"
            commandId="com.bichler.astudio.opcua.openImageEditor">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.AddImageHandler"
            commandId="com.bichler.astudio.opcua.addImage">
      </handler>
      <handler
            class="com.bichler.astudio.opcua.properties.handler.DeleteImageHandler"
            commandId="com.bichler.astudio.opcua.deleteImage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bichler.astudio.opcserver.showproperties"
            name="Properties view">
      </command>
      <command
            id="com.bichler.astudio.opcserver.showinfos"
            name="%menu.infos">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.bichler.astudio.opcserver.showdocu"
            name="%menu.docu">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.bichler.astudio.opcserver.exportdocu"
            name="%export">
      </command>
      <command
            id="com.bichler.astudio.opcua.openImageEditor"
            name="%openImageEditor">
      </command>
      <command
            id="com.bichler.astudio.opcua.addImage"
            name="%addImage">
      </command>
      <command
            id="com.bichler.astudio.opcua.deleteImage"
            name="%deleteImage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bichler.astudio.opcua.properties.editor.ImageEditor"
            default="false"
            id="com.bichler.astudio.opcua.properties.editor.ImageEditor"
            name="ImageEditor">
      </editor>
   </extension>

</plugin>
