<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OPCUA"
            id="com.bichler.astudio.opcua">
      </category>
      <view
            category="com.bichler.astudio.opcua"
            class="com.bichler.astudio.opcua.navigation.views.OPCNavigationView"
            icon="icons/dataserver.png"
            id="com.bichler.astudio.opcua.navigation.views.OPCNavigationView"
            name="Navigation">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.bichler.astudio.opcua.navigation.views.OPCNavigationView">
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverdriver"
               icon="icons/Plusgrün16x16.png"
               label="%command.newdriver"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsDriverNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaservermodule"
               icon="icons/Plusgrün16x16.png"
               label="%command.newmodule"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsModuleNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaserverdriver"
               icon="icons/Plusrot16x16.png"
               label="%command.deletedriver"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsServerDriverNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaservermodule"
               icon="icons/Plusrot16x16.png"
               label="%command.deletemodule"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsServerModuleNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.openopcuaserverconfiguration"
               icon="icons/konfigeration16x16.png"
               label="%command.editconfig"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsServerConfigNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverecmascript"
               icon="icons/Plusgrün16x16.png"
               label="%command.newecma"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsEcmaScriptsNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaservershellscript"
               icon="icons/Plusgrün16x16.png"
               label="%command.newshell"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsShellScriptNode">
               </reference>
            </visibleWhen>
         </command>
        
         <command
               commandId="com.bichler.astudio.opcua.rename"
               icon="icons/rename_16.png"
               label="%command.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsRenameNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.certificate.renew"
               icon="icons/refresh_16.png"
               label="%command.renewcert"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsKeyPairNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.certificate.import"
               icon="icons/redo_16.png"
               label="%command.importcert"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsCertificateStoreNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.certificate.delete"
               icon="icons/Plusrot16x16.png"
               label="%command.deletecert"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsCertificateNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaserverecmascript"
               icon="icons/Plusrot16x16.png"
               label="%command.deleteecma"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsEcmaScriptNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.upgradeopcuaserverdriver"
               icon="icons/upgrade_16x16.png"
               label="%command.upgradedriver"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="IsServerDriverNode2Upgrade">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.addopcuaserverversion"
               icon="icons/Plusgrün16x16.png"
               label="%command.add.version"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerVersionsModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.bichler.astudio.commands.deleteopcuaserverversion"
               icon="icons/Plusrot16x16.png"
               label="%command.delete.version"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.bichler.astudio.opcua.nodes.OPCUAServerVersionModelNode">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="IsDriverNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuadrivernode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsModuleNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuamodulenode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerConfigNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaserverconfignode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsShellScriptNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuashellscriptnode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsEcmaScriptsNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaecmascriptsnode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerDriverNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaserverdrivernode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsInformationModelNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuainformationmodel">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsNamespaceIndex">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuanamespaceindex">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsRenameNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaserverrenamenode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsCertificateStoreNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuacertificatestorenode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsKeyPairNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuakeypairnode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsCertificateNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuacertificatenode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsEcmaScriptNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaecmascriptnode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerDriverNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaserverdrivernode">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerDriverNode2Upgrade">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaserverdrivernode2upgrade">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="IsServerModuleNode">
         <iterate
               ifEmpty="false"
               operator="or">
            <adapt
                  type="com.bichler.astudio.navigation.nodes.StudioModelNode">
               <test
                     property="com.bichler.astudio.opcua.isopcuaservermodulenode">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>

</plugin>
