# id for automation studio to open the correct editor to edit driver connection
drivereditorid_general
XML_DA_DriverEditor

# id for automation studio to open the correct editor to edit datapoints
drivereditorid_dp
XML_DA_DPEditor

# id for automation studio to open the correct editor to edit the datapoints
drivereditorid_advanced
XML_DA_AdvancedDriverConfigEditor